#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    /* font-family: 'Niramit', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Courgette', cursive;
  }
  
  .app {
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/city.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card {
    /* background: whitesmoke; */
    width: 800px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    /* box-shadow: 10px 10px; */
    color: rgb(240, 235, 235);
    /* background-color: orange; */
  }
  
  .heading {
    display: flex;
    align-items: center;
    font-style: italic;
    margin-bottom: 100px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }
  
  .button {
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 180px;
    height: 40px;
    opacity: 1;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 0px 0px 100px 1px black;
  }
    
  .button span {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    font-style: italic;
  }
    
  .button:hover {
    /* animation: rotate 0.2s ease-in-out both; */
  }
    
  .button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
    
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
    
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }  
  
@media only screen and (max-width: 768px) {
    .card {
        width: 600px;
        height: auto;
    }
}
  
@media only screen and (max-width: 576px) {
    .card {
        width: 500px;
        height: auto;
    }
}
  
@media only screen and (max-width: 425px) {
    .card {
        width: 350px;
        height: auto;
    }
  
    .heading {
        margin-bottom: 50px;
    }
}
  
@media only screen and (max-width: 375px) {
    .card {
        width: 350px;
        height: auto;
    }
  
    .heading {
        margin-bottom: 50px;
    }
}
  
@media only screen and (max-width: 320px) {
    .card {
        width: 280px;
        height: auto;
    }
  
    .heading {
        margin-bottom: 50px;
    }
}